.profile-frame {
  border: 3px solid #0062ff;
  border-radius: 12px;
  padding: 0.5rem;
  max-width: 85%;
  height: 20rem;
}
.profile-frame img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
